<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body>

    {% include nav.html %}

    <div>
      <div class="text-center ss-subpage-title">
        <p class="ss-title margin-bottom0">
          {{ page.title }}
        </p>
        <p class="text-muted">
          {{ page.date | date: "%Y년 %-m월 %-d일" }} |
          <a href="mailto:{{ post.author-email }}" class="ss-no-link"
            <span class="ss-member-title">{{ page.author }}</span>
          </a>
        </p>
      </div>
    </div>

    <div class="ss-content-body body-bg-color padding-bottom12">
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include javascripts.html %}

  </body>
</html>
