---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>

  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.title }}</h1>

    <p class="meta">
    {{ page.date | date: "%Y년 %-m월 %-d일" }} -
    {% if page.author %}
      <a href="mailto:{{page.author-email}}">{{ page.author }}</a>
    {% endif %}
    </p>
  </header>

  <section class="post-content">
    {{ content }}
  </section>

  <center>
    <a class="button" href="{{ site.url }}">목록으로 돌아가기</a>
  </center>

</article>

<!-- Disqus -->
{% if site.theme.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}
