---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>

  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.title }}</h1>

    <p class="meta">
    {{ page.date | date: "%Y년 %-m월 %-d일" }} -
    {% if page.author %}
      <a href="mailto:{{page.author-email}}">{{ page.author }}</a>
    {% endif %}
    </p>
  </header>

  <section class="post-content">
    {{ content }}
  </section>

  <center>
    <a class="button" href="{{ site.url }}">목록으로 돌아가기</a><br />
  </center>

  <div class="fb-like" data-href="{{ site.url }}{{ page.url }}"
       data-layout="button_count" data-action="like" data-show-faces="false" data-share="true">
  </div>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=190144500999654&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</article>
